# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/

# Data files
*.csv

# Model files
*.pkl
*.joblib

# Logs
*.log

# Configuration files
*.ini
*.conf

.vscode/

# FastAPI / Uvicorn
*.pid
*.sock
*.log

# Dependency directories
pip-wheel-metadata/

# Setup folder
customer_churn_prediction.egg-info